Vagrant/.vagrant/*
Vagrant/vagrant*.log
Packer/packer_cache/*
Packer/packer_build.log
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
logger_variables.sh
ESXi/Packer/variables.json
.terraform.lock.hcl
variables.json
ESXi/ansible/inventory.yml
ESXi/ansible/env.sh
manifest.xml
ESXi/env.py
ESXi/Labs/*
ESXi/ansible/log.log
ESXi/Networks.txt