Packer/packer_cache/*
Packer/packer_build.log
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
ESXi/Packer/variables.json
.terraform.lock.hcl
variables.json
ESXi/ansible/inventory.yml
manifest.xml
ESXi/env.py
ESXi/Labs/*
ESXi/__pycache__/*
ESXi/Networks.txt
ESXi/ansible/group_vars/*
ESXi/ansible/group_vars/all.yml
Vagrant/resources/guacamole/user-mapping.xml
lock
lock_test
utilisateurs
.env
ESXi/Script/Resources/Pwd/*
ESXi/Script/Resources/__pycache__/*
ESXi/Script/Resources/Networks.txt
ESXi/Script/.env
ESXi/Script/Resources/Template_Users.xlsx
ESXi/Script/Resources/users.json